# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tabs

[*.js]
indent_style = tabs

[*.hbs]
indent_style = tabs

[*.css]
indent_style = tabs

[*.html]
indent_style = tabs

[*.{diff,md}]
trim_trailing_whitespace = false
