html {
	font-family: Georgia;
}

body {
	margin: 1rem;
}

section {
	display: block;
	padding: 1rem;
	margin-bottom: 1rem;
}

a {
	color: red;
}

a.active {
	background-color: red;
	color: white;
}

h1 {
	font-size: 1em;
}

h1 a {
	color: black;
	text-decoration: none;
}

.EmberYoutube-player {
	width: 480px;
	max-width: 100%;
}
