<p><strong>Demonstration of the ember-youtube component</strong>. See the <a href="https://github.com/oskarrough/ember-youtube">repository</a> for more information.</p>

<nav>
	{{link-to "test 1" "index"}}
	{{link-to "test 2" "video" "jmCytJPqQis"}}
</nav>

<hr>

{{outlet}}
