<h1>{{link-to "Ember Youtube" "application"}}</h1>
<p><strong>This is a demonstration of the ember-youtube component.</strong></p>
<p>You'll see that it's possible to control the player with custom controls.<br>See the <a href="https://github.com/oskarrough/ember-youtube">repository</a> for more information.</p>

<hr>

{{outlet}}
